name: CI
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Begin CI...
        uses: actions/checkout@v2

      - name: Use Node 14
        uses: actions/setup-node@v1
        with:
          node-version: 14.x

      # - name: Use cached node_modules
      #   id: cache
      #   uses: actions/cache@v1
      #   with:
      #     path: node_modules
      #     key: nodeModules-${{ hashFiles('**/yarn.lock') }}
      #     restore-keys: |
      #       nodeModules-

      - name: Install dependencies
        # if: steps.cache.outputs.cache-hit != 'true'
        run: yarn install --frozen-lockfile
        env:
          CI: true

      - name: Lint
        run: yarn lint
        env:
          CI: true

      - name: Test
        run: yarn test
        env:
          CI: true

      - name: Build
        run: yarn build
        env:
          CI: true
